<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 header">

              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>





<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
                  <table>
                      <colgroup>
                          <col>
                          <col class="alternative">
                          <col>
                      </colgroup>
                      <tr>
                          <td>This</td>
                          <td>That</td>
                          <td>The other</td>
                      </tr>
                      <tr>
                          <td>Ladybird</td>
                          <td>Locust</td>
                          <td>Lunch</td>
                      </tr>
                  </table>
               <p>Written by Doctor Who on <time datetime="2052-11-21"></time><mark>is it marking!</mark>.</p>
                <button type="button" class="btn btn-warning mt-4" (click)='Creationsstatue()'>Add server</button>
             </div>



                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>





<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>






<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>



<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 footer">

              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>
