<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 header">

              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>





<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
               <nav>
                <ul>
                  <li><a href="www.google.com">Home</a></li>
                  <li><a>Hope</a></li>
                  <li><a>Suport</a></li>
                </ul>

               </nav>
                <button type="button" class="btn btn-warning mt-4" (click)='Creationsstatue()'>Add server</button>
             </div>



                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>





<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>






<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 cont1">
              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>



<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
      </div>
              <div class="col-lg-8 col-md-8 col-sm-12 footer">

              </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
</div>
